<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/FotoPerfil.jpg" class="img-fluid" id="fotoPerfil"/>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <p id="nombre">Ruben Nahuel Campo Ledesma</p>
    <p>Full Stack Developer Jr</p>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <span>
      <h1>Acerca de mi</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
        provident quae maiores cupiditate voluptates voluptas eos temporibus
        corrupti quibusdam culpa possimus aliquid repellat recusandae, pariatur
        non exercitationem quas quasi quod?
      </p>
    </span>
  </div>
</div>
